> # **CHAPTER 07 COLLECTIONS** #
``Emma Wasserman``

In [80]:
# create a list of five integers
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [8]:
# Type of the list
type([1, 2, 3, 4, 5])

list

In [9]:
# Create a list of five integers and five strings
[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

# **Practicing with Lists**

In [3]:
# Create a list of five random integers and assign it to the variable my_list
my_list = [1, 4, 6, 7, 9]

In [4]:
# Retrieve the first element of the list
my_list[0]

1

* Python lists are "0-indexed" - that means that the first element in a list will be referred to as the 0 element, as opposed to the first. In this case, even though "1" is the first value on the list, it is in the 0 element position.

# **Retriving Data From a List**

In [5]:
# Retrieve the last element of the list
my_list[-1]

9

In [6]:
# Retrieve the first three elements of the list
my_list[:3]

[1, 4, 6]

In [7]:
# Retrieve all elements from index 3
my_list[3:]

[7, 9]

In [8]:
# Retrieve the last three elements of the list
my_list[-3:]

[6, 7, 9]

# **Demonstrating Mutibility**

### The elements of a Python list can be modified, added, or removed once it is created, making it *unique*
>  ### functions like `append`, `extend`, and `pop` allow for lists to be modified

 
 | Append    | Extend | Pop       |
|---------|-----|------------|
| Adds an element to the end of a list   | Add elements to a list, as a list  | Removes the last element from a list   |

In [9]:
# Ensure my_list is defined
my_list

# Change the first element of the list to 'First'
my_list[0] = 'First'
my_list

['First', 4, 6, 7, 9]

In [10]:
# Change the last element of the list to list ['happy,sad,angry']
my_list[-1] = ['happy', 'sad', 'angry']
my_list

['First', 4, 6, 7, ['happy', 'sad', 'angry']]

In [11]:
# Return the length of the list
len(my_list)

5

In [12]:
# Retrieve the first element of the last element of the list
my_list[-1][0]

'happy'

In [13]:
# Extend the list with the elements small, medium, and large
my_list.extend(['small', 'medium', 'large'])
my_list

['First', 4, 6, 7, ['happy', 'sad', 'angry'], 'small', 'medium', 'large']

In [14]:
# Remove the last element of the list
my_list.pop()
my_list

['First', 4, 6, 7, ['happy', 'sad', 'angry'], 'small', 'medium']

In [15]:
# Remove the element at index 2
my_list.pop(2) #The value 6 number 2 is removed
my_list

['First', 4, 7, ['happy', 'sad', 'angry'], 'small', 'medium']

In [16]:
# Append the number 10 to the list
my_list.append(10)
my_list

['First', 4, 7, ['happy', 'sad', 'angry'], 'small', 'medium', 10]

### We have demonstrated the functions of `append`, `extend`, and `pop`, as well as that at elements of a list can be assigned as other values, including nesting other lists, while the quantity of elements in the list remains the same (as shown by the ``len`` function).

In [17]:
# Insert the string 'inserted' at index 2 of my_list
my_list.insert(2,'inserted')
my_list

['First', 4, 'inserted', 7, ['happy', 'sad', 'angry'], 'small', 'medium', 10]

In [18]:
# Create two new lists of integers
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [19]:
# Assign list1 to the variable my_list1
my_list1 = list1

In [20]:
# Assign list2 to the variable my_list2
my_list2 = list2

In [21]:
# Concatenate my_list1 and my_list2
my_list1 + my_list2

[1, 2, 3, 4, 5, 6]

In [25]:
# Repeat my_list1 three times
my_list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# Determine if the number 3 is in my_list1
3 in my_list1

True

In [26]:
# Reverse the list
my_list1.reverse()
my_list1

[3, 2, 1]

In [27]:
# Use the list function and the range function to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Tuples**
 > *Tuples are imputable - they cannot be changed once generated*

In [24]:
# Create a tuple of five integers and assign it to the variable tuple_1
tuple_1 = 2, 4, 8, 9 # Simply state elements
tuple_1

(2, 4, 8, 9)

In [25]:
#Type of the tuple
type(tuple_1)

tuple

In [27]:
# Create a tuple with the elements 1, 2, 'three', and the list 'Python' and assign it to the variable tuple_2
tuple_2 = (1, 2, 'three', list('Health')) # Use parentheses
tuple_2

(1, 2, 'three', ['H', 'e', 'a', 'l', 't', 'h'])

In [28]:
#Retreive the first element of tuple_1
tuple_1[0]

2

In [29]:
# Create a tuple with the string elements 'Red', 'Yellow', and 'Blue' and assign it to the variable colors
colors = ('Red', 'Yellow', 'Blue')

In [30]:
# Assign each element of the tuple to the variables one, two, three
one, two, three = colors

In [31]:
# Retrive the color in one
one

'Red'

In [32]:
names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [24, 50, 18, 35]

> ### Notes about `zip`: 
* For a `zip` fuction to work, the original list objects must have the same number of elements
* ``Zip`` and ``unzip`` only work for list of tuples, as opposed to lists

In [43]:
# Use the zip function to create a list of tuples
list(zip(names, ages))

[('Alice', 24), ('Bob', 50), ('Charlie', 18), ('David', 35)]

In [44]:
#Generate a list of tuples (each with three elements)
data_set=[('Alice', 24, 'F'), ('Bob', 50, 'M'), ('Charlie', 18, 'M'), ('David', 35, 'M')]
#Unzip the three element tuples
names, ages, gender = zip(*data_set)

In [45]:
# Return the names
names

('Alice', 'Bob', 'Charlie', 'David')

In [46]:
# Return the ages
ages

(24, 50, 18, 35)

In [47]:
# Return the gender
gender

('F', 'M', 'M', 'M')

In [48]:
# Create a tuple containing the first seven prime numbers and assign it to the variable primes
primes = (2, 3, 5, 7, 11, 13, 17)
primes

(2, 3, 5, 7, 11, 13, 17)

In [49]:
# Return the last three elements of the tuple
primes[-3:]

(11, 13, 17)

In [50]:
# Generate a dictionary 
id345 = {'First Name':'Jenny', 'Last Name':'Gregory', 'Age':48, 'Heart Rate':80}

In [51]:
# Return the keys of the dictionary
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [56]:
# Return the values of the dictionary
id345.values()

dict_values(['Jenny', 'Gregory', 48, 80])

In [57]:
# Generate a dictionary using the dict functon 
my_dict = dict([(1,'A'),(2, 'B'), (3,'C'), (4,'D')])

#Return a list of the values of the dictionary
list(my_dict.values())

['A', 'B', 'C', 'D']

## **Exploring Sets**

In [59]:
# Generate set with the elements 1, 2, 3, 4, 4, 4, 4, 1
my_set = {1, 2, 3, 4, 4, 4, 4, 1}
my_set # Call object and print to screen

{1, 2, 3, 4}

In [60]:
# Use the set function instead
my_set = set([1, 2, 3, 4, 4, 4, 4, 1])
my_set

{1, 2, 3, 4}

In [61]:
# Add the element 5 to the set
my_set.add(5)
my_set

{1, 2, 3, 4, 5}

In [62]:
# Remove the element 2 from the set
my_set.remove(2)
my_set

{1, 3, 4, 5}

In [75]:
# A set containing 10 elements using letters assigned to the variable set_A
set_A = {'a', 'b', 'c', 'd', 'f', 'g', 'b', 'c', 'd', 'b'}
set_A

{'a', 'b', 'c', 'd', 'f', 'g'}

In [76]:
# Randomly generate a different set containing 10 random elements using letters a-e and assign it to the variable set_B
set_B = {'a','c','d','e','b','b','b','c','d','a'}
set_B

{'a', 'b', 'c', 'd', 'e'}

In [77]:
# Return the union of the two sets using the union method
set_A.union(set_B)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [79]:
# Return the intersection of the two sets using the intersection method
set_A.intersection(set_B)

{'a', 'b', 'c', 'd'}

### This can also be done using ``|`` and ``&`` operators ###

In [80]:
# Return the union of the two sets using the pipe operator
set_A | set_B

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [81]:
# Return the union of the two sets using the pipe operator
set_A | set_B

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [82]:
# Return the difference between the two sets using the difference method
set_A.difference(set_B)

{'f', 'g'}

The `symmetric_difference` function calculates the set difference between two sets.

In [84]:
# Return the symmetric difference between the two sets using the symmetric_difference method
set_A.symmetric_difference(set_B)

{'e', 'f', 'g'}

## List Comprehension

In [85]:
# Use list comprehension to create a list of the first 10 square natural numbers
squares = [x**2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
# Squares of natural numbers larger than 5
squares = [x**2 for x in range(1, 11) if x > 5]
squares

[36, 49, 64, 81, 100]

In [87]:
# Only include elements that are less than 50
squares = [x**2 for x in range(1, 11) if x**2 < 50]
squares

[1, 4, 9, 16, 25, 36, 49]

>## **Quiz Questions**

### Python Collections: Lists, Tuples, Dictionaries, and Sets

#### Lists

In [ ]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Access third element (index 2)
third_element = my_list[2]

# Add element to end of list
my_list.append("new_item")



#### Tuples

In [ ]:
# Define a tuple
my_tuple = ("apple", "banana", "cherry")

# Access first element
first_element = my_tuple[0]



#### Dictionaries

In [ ]:
# Define a dictionary
my_dict = {
    "name": "John Doe",
    "age": 30
}

# Retrieve value
name = my_dict["name"]

# Change value
my_dict["age"] = 35

# Add new key-value pair
my_dict["city"] = "New York"



#### Sets

In [ ]:
# Create a set
my_set = {"apple", "banana", "cherry"}

# Add item to set
my_set.add("orange")

# Remove item from set
my_set.remove("banana")



#### Collection Operations

In [ ]:
# List length
my_list = [1, 2, 3, 4, 5]
length = len(my_list)  # Returns 5

# List multiplication
my_list = [1, 2, 3]
result = my_list * 2  # Returns [1, 2, 3, 1, 2, 3]

# Set with duplicates
unique_numbers = set([1, 2, 2, 3, 4, 4, 4, 5, 5])  # Returns {1, 2, 3, 4, 5}



### Key Points:
- Lists are mutable, ordered collections: `[]`
- Tuples are immutable, ordered collections: `()`
- Dictionaries are key-value pairs: `{}`
- Sets are unordered collections of unique elements: `set()`
- Python uses zero-based indexing
- Length function `len()` works with all collections